<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Automation Test Suite" verbose="1">
    <listeners>
        <listener class-name="util.ExtentReportUtil.ExtenReportListners"></listener>
    </listeners>
    <test name="Automation Test For NBA site" preserve-order="true" >
        <parameter name="DocType" value="doc"></parameter>
        <classes>
            <class name="tests.TestCases"></class>
        </classes>
    </test> <!-- First Test -->
</suite> <!-- Suite -->
